@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
  local('RobotoCondensed-Regular'),
  url('fonts/Robotocondensed.woff2') format('woff2'),
  url('fonts/Robotocondensed.woff') format('woff'),
  url('fonts/Robotocondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Condensed Light'),
  local('RobotoCondensed-Light'),
  url('fonts/Robotocondensedlight.woff2') format('woff2'),
  url('fonts/Robotocondensedlight.woff') format('woff'),
  url('fonts/Robotocondensedlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  local('Montserrat-Regular'),
  url('fonts/montserrat.woff2') format('woff2'),
  url('fonts/montserrat.woff') format('woff'),
  url('fonts/montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('montserrathairline.woff2') format('woff2'), url('montserrathairline.woff') format('woff'), url('montserrathairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'), url('montserratlight.woff2') format('woff2'), url('montserratlight.woff') format('woff'), url('montserratlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('montserratbold.woff2') format('woff2'), url('montserratbold.woff') format('woff'), url('montserratbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'), url('montserratblack.woff2') format('woff2'), url('montserratblack.woff') format('woff'), url('montserratblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
} */


/* 

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('Robotocondensedlightitalic.woff2') format('woff2'), url('Robotocondensedlightitalic.woff') format('woff'), url('Robotocondensedlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('Robotocondenseditalic.woff2') format('woff2'), url('Robotocondenseditalic.woff') format('woff'), url('Robotocondenseditalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('Robotocondensedbold.woff2') format('woff2'), url('Robotocondensedbold.woff') format('woff'), url('Robotocondensedbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('Robotocondensedbolditalic.woff2') format('woff2'), url('Robotocondensedbolditalic.woff') format('woff'), url('Robotocondensedbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} */
