@mixin newScheme($headBg, $color, $activeColor) {
  header {
    background: $headBg;

    .subTitle {
      color: $lightBlue;

      button {
        color: $lightBlue;
      }
    }
  }

  .mainMenu {
    li {
      a {
        color: $color;

        &.active {
          background: $activeColor;

          // If last page
          @if($headBg==$goldColor) {
            color: $headBg;
          }
        }

        &:hover {
          background: $activeColor !important;

          // If last page
          @if($headBg==$goldColor) {
            color: $headBg !important;
          }
        }
      }
    }

    &__desk {
      // If last page
      @if($headBg==$goldColor) {
        &:hover {
          li {
            a {
              &.active {
                color: $color;
              }
            }
          }
        }
      }
    }

    &__mobile {
      li {
        a {
          @if($headBg != $goldColor) {
            // Other pages
            color: $headBg;

            &.active {
              color: $color;
            }

            &:hover {
              color: $color !important;
            }
          } @else {
            // Last page
            color: $color;

            &.active {
              color: $headBg;
            }

            &:hover {
              color: $headBg !important;
            }
          }
        }
      }

      &:hover {
        li {
          a {
            &.active {
              @if($headBg == $goldColor) {
                // If last page
                color: $color;
              } @else {
                // Other pages
                color: $activeColor;
              }
            }
          }
        }
      }
    }

    &__burger {

      // If not last page
      @if($headBg !=$goldColor) {
        color: $color;

        &:hover {
          background: $activeColor;
        }

        &.selected {
          background: $activeColor;
          color: $color;
        }
      } @else {
        // If last page
        color: $activeColor;

        &:hover {
          background: $activeColor;
          color: $headBg;
        }

        &.selected {
          background: $activeColor;
          color: $headBg;
        }
      }
    }
  }

  .backLayer {
    @if($headBg !=$goldColor) {
      // Other pages
      background: $color;
    }

    @else {
      // Last page
      background: $headBg;
    }
  }

  main {
    background: $activeColor;

    .attachedBlock {
      &__head {
        color: $lightBlue;
      }
    }
  }
}

.page {
  &__home {
    @include newScheme(#292D45, $lightBlue, #1D2135)
  }

  &__portfolio {
    @include newScheme(#384149, $lightBlue, #2A343D)
  }

  &__about {
    @include newScheme(#345060, $goldColor, #28404D)
  }

  &__contacts {
    @include newScheme($goldColor, #253D37, #25333D)
  }
}