.page {
  &__home {
    header {
      background: #292D45;
    }

    .mainMenu {
      li {
        a {
          color: $lightBlue;

          &.active {
            background: #1D2135;
          }

          &:hover {
            background: #1D2135 !important;
          }
        }
      }

      &__burger {
        color: $lightBlue;

        &:hover {
          background: $lightBlue;
          color: #1D2135;
        }
      }
    }

    main {
      background: #1D2135;
    }
  }

  &__portfolio {
    header {
      background: #384149;
    }

    .mainMenu {
      li {
        a {
          color: $lightBlue;

          &.active {
            background: #2A343D;
          }

          &:hover {
            background: #2A343D !important;
          }
        }
      }

      &__burger {
        color: $lightBlue;

        &:hover {
          background: $lightBlue;
          color: #2A343D;
        }
      }
    }

    main {
      background: #2A343D;
    }

    .attachedBlock {
      &__head {
        background: #2A343D;
        color: $lightBlue;
      }
    }
  }

  &__about {
    header {
      background: #345060;
    }

    .mainMenu {
      li {
        a {
          color: $goldColor;

          &.active {
            background: #28404D;
          }

          &:hover {
            background: #28404D !important;
          }
        }
      }

      &__burger {
        color: $goldColor;

        &:hover {
          background: $goldColor;
          color: #28404D;
        }
      }
    }

    main {
      background: #28404D;
    }
  }

  &__contacts {
    header {
      background: $goldColor;
    }

    .mainMenu {
      li {
        a {
          color: #253D37;

          &.active {
            background: #25333D;
            color: $goldColor;
          }

          &:hover {
            background: #25333D !important;
            color: $goldColor !important;
          }
        }
      }

      &:hover {
        li {
          a {
            &.active {
              color: #253D37;
            }
          }
        }
      }

      &__burger {
        color: #253D37;

        &:hover {
          background: #25333D;
          color: $goldColor;
        }
      }
    }

    main {
      background: #25333D;
    }
  }
}