* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

html,
body {
  font-family: 'Roboto';
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: $headerHeight;
  min-height: $headerHeight;
  transition: background-color $chSchemeDelay;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
  }

  .subTitle {
    display: none;
  }
}

.backLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  visibility: hidden;

  &.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms;
  }
}

.mainMenu {
  li {
    list-style: none;
    height: inherit;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      height: inherit;
      padding: 20px 30px;
      transition: background-color $trDelay, color $trDelay;
    }
  }

  &:hover {
    li {
      a {
        &.active {
          background: transparent !important;
        }
      }
    }
  }
  
  &__desk {
    display: flex;
    height: 100%;
    font-size: 18px;
    line-height: 26px;
  }

  &__mobile {
    display: none;
  }

  &__burger {
    display: none;
  }
}

main {
  display: flex;
  width: 100%;
  padding-top: $headerHeight;
  flex: 1;
  transition: background-color $trDelay;
  overflow-x: hidden;

  .container {
    display: flex;
    width: 100%;

    section {
      position: absolute;
      width: 50%;
      height: 100%;
    }

    .attachedBlock {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      transform: translate3d(100%, 0, 0);
      transition: transform 400ms;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);

      &__head {
        display: flex;
        align-items: center;
        height: $headerHeight;
        width: 100%;
        padding: 0 30px;
        font-family: 'Montserrat';
        font-size: 28px;
      }

      &.low-layer {
        z-index: 2;
      }

      .wrapper {
        background: #384149;
        flex: 1;
        height: 100%;
        overflow-y: auto;
      }

      &.sticked {
        transform: translate3d(0, 0, 0);
      }
    }

    .infoPanel {
      background: #2A343D;
      color: $lightBlue;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      transform: translate3d(-101%, 0, 0);
      transition: transform 400ms;
      will-change: transform;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);

      &__head {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          background: #D8FFFF;
          position: relative;
          display: flex;
          align-items: center;
          top: 0;
          right: 0;
          color: #1D2138;
          height: $headerHeight;
          padding: 0 60px 0 40px;
          font-size: 22px;
          font-weight: bold;
          font-family: "Montserrat";
          transition: background-color 300ms ease-in-out;

          .arrow {
            margin-top: 2px;
            margin-right: 15px;
            transform: rotate(180deg);
            transition: transform 300ms ease-in-out;
          }

          &:hover {
            background-color: #fff;

            .arrow {
              transform: rotate(180deg) translate3d(5px, 0, 0);
            }
          }
        }
      }

      &__info {
        margin-top: 10px;
        padding: 40px;
        line-height: 1.5;
        font-size: 18px;

        h2 {
          font-size: 28px;
          margin-bottom: 20px;
        }
      }

      &__meta {
        display: flex;
        flex-direction: column;
      }

      &__text {
        margin-top: 20px;
      }

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}