* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

html,
body {
  font-family: 'Roboto';
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  flex-basis: 71px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: $headerHeight;
  min-height: $headerHeight;
  position: relative;
  z-index: 10;
  transition: background-color $chSchemeDelay;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
  }
}

.mainMenu {
  display: flex;
  height: 100%;
  font-size: 18px;
  line-height: 26px;

  li {
    list-style: none;
    height: inherit;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      height: inherit;
      padding: 0 30px;
      transition: background-color $trDelay, color $trDelay;
    }
  }

  &:hover {
    li {
      a {
        &.active {
          background: transparent !important;
        }
      }
    }
  }

  &__burger {
    display: none;
  }
}

main {
  width: 100%;
  height: calc(100% - 71px);
  transition: background-color $trDelay;

  .container {
    display: flex;
    width: 100%;
    height: 100%;

    section {
      width: 50%;
      height: 100%;
    }

    .attachedBlock {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 11;
      transform: translateX(100%);
      transition: transform 400ms;

      &__head {
        display: flex;
        align-items: center;
        height: $headerHeight;
        width: 100%;
        z-index: 11;
        padding: 0 30px;
        font-family: 'Montserrat';
        font-size: 28px;
      }

      .wrapper {
        flex: 1;
        height: 100%;
        overflow-y: auto;
      }

      &.show {
        transform: translateX(0);
      }
    }
  }
}