@media (max-width: 768px) {
  
  /* == [HOME] == */
  main {
    .overlay {
      padding-bottom: 40px;
    }
  }

  .delayedRect {
    &__bracket, &__info {
      transform: none !important;
    }

    &__photo {
      position: relative;
      top: unset;
      right: unset;
      height: auto;
      margin-top: 40px;
    }

    &__info {
      width: 100%;
    }
  }

  .consoleLine {
    margin-bottom: 10px;
  }
  /* //////////////// */

  /* == [WORK PAGE] == */
  .attachPage .skills {
    padding-left: 20px;
    padding-right: 20px;
  }

  .attachPage {
    .infoPanel {
      &__info {
        padding: 20px;
      }
    }
  }
  /* /////////////////// */

  /* == [ABOUT PAGE] == */
  .page__about {
    main {
      .container {
        flex-direction: column;
        align-items: center;

        section {
          &.about {
            &__info {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  /* /////////////////// */

  /* == [CONTACTS] == */
  .page__contacts {
    main {
      .container {
        section {
          &.form-block {
            padding: 40px 20px;
          }
        }
      }
    }
  }
}