@media (max-width: 768px) {
  
  /* == [HOME] == */
  main {
    .overlay {
      padding-bottom: 40px;
    }
  }

  .delayedRect {
    &__bracket, &__info {
      transform: none !important;
    }

    &__photo {
      position: relative;
      top: unset;
      right: unset;
      height: auto;
      margin-top: 40px;
    }

    &__info {
      width: 100%;
    }
  }

  .consoleLine {
    margin-bottom: 10px;
  }
  /* //////////////// */
}