@media (max-width: 1024px) {
  .mainMenu {
    &__desk {
      display: none;
    }

    &__mobile {
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 5;
      opacity: 0;
      transform: translateY(-50%);
      transition: transform $trDelay, opacity $trDelay, visibility $trDelay;

      li {
        width: 100%;

        a {
          font-size: 30px;
          justify-content: center;
          padding: 10px;
        }
      }

      &_showed {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
      }
    }

    &__burger {
      background: none;
      display: flex;
      align-items: center;
      width: 50%;
      height: $headerHeight;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 5;
      padding: 0 30px;
      font-size: 25px;
      transition: background-color $trDelay, color $trDelay;

      span {
        display: inline-block;
        margin: 0 13px;
        font-size: 18px;
        line-height: 1;
      }

      &_open {
        display: flex;
        width: 24px;
        height: 19px;
        flex-direction: column;
        justify-content: space-between;

        s {
          background: currentColor;
          height: 3px;
          transition: opacity $trDelay, transform $trDelay;
        }
      }

      &.selected {
        .mainMenu__burger {
          &_open {
            s {
              &:nth-child(2) {
                opacity: 0;
                visibility: hidden;
              }

              &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
              }

              &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
              }
            }
          }
        }
      }
    }
  }
}