@media (max-width: 768px) {
  
  /* == [HOME] == */
  main {
    .overlay {
      padding-bottom: 40px;
    }

    .container .skills {
      padding-left: 20px;
      padding-right: 20px;
    }

    .container {
      .infoPanel {
        &__info {
          padding: 20px;
        }
      }
    }
  }

  .delayedRect {
    &__bracket, &__info {
      transform: none !important;
    }

    &__photo {
      position: relative;
      top: unset;
      right: unset;
      height: auto;
      margin-top: 40px;
    }

    &__info {
      width: 100%;
    }
  }

  .consoleLine {
    margin-bottom: 10px;
  }
  /* //////////////// */
}